@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(230, 230, 230);
  background-color: black;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: whitesmoke;
}

#logo {
  float: left;
  height: 70px;
  width: 70px;
  margin-left: 30px;
  color: whitesmoke;
}

#menu {
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 4px;
  float: right;
}

#menu, #logo {
  line-height: 100px;
  position: relative;
}

#menu li {
  float: left;
  margin-right: 30px;
  
}

#menu a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;

}

#menu a:hover {
  color: #f1c9df;
  -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
}

.active {
  color: #f1c9df !important;
}


#hero-vid {
    position: relative;
    z-index: -1;
    display: block;
    margin: 0 auto;
    width: 100%;
}

#hero-outer {
  height: 80%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main-mix {
    position: relative;
    margin: 0 auto;
}

#girls-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  
  animation-name: hero-zoom;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}


@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.girls {
    text-align: center;
}

.girls li {
    display: inline;
}

.girls a {
    font-size: 120%;
    margin: 10%;
    padding: 1%;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}

.girls a:hover {
  color: #f1c9df;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

.bio {
    color: whitesmoke;
    padding: 5%;
    letter-spacing: 2px;
    text-align: justify;
}

.peace {
    text-align: center;
    padding-top: 50px;
}

.boiler-vid-wrapper {
  position: relative;
  display: block;
  width: 100%; 
  height: 100%;
  margin: 0 auto;
  padding: 0% 0% 56.25%;
  overflow: hidden;
}
.boiler-vid-wrapper .boiler-vid {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
}

guest-mix {
    position: relative;
}

.booking {
    color: whitesmoke;
    padding: 20%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.booking h2 {
    font-size: 30px;
}


.booking a {
    text-decoration: none;
    color: whitesmoke;
}

.booking i {
    font-size: 20px;
}

ul {
  list-style-type: none;
}

footer {
    bottom: 0;
    position: relative;
    width: 100%;
}

footer i:hover {
  color: #f1c9df;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

.social-networks{
    text-align: center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: whitesmoke;
}

.copyright {
    color: whitesmoke;
    font-size: 50%;
    list-style-type: none;
    letter-spacing: 4px;
    text-align: center;
}

.copyright a {
    text-decoration: none;
    color: whitesmoke;
}

.copyright a:hover {
  color: #f1c9df;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}


/* .responsive

@media screen and (max-width: 1393px){
    #club-ethos {
         width:  65%;
         height: 1200px;
         margin: 0 auto;
    }
    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }
    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }
    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }       

    #times div {
        width:100%;
        clear: both;
        height: 150px;
        border-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #fff;
        padding: 0;

    }

    hr {
        display: none;
    }
 }

 @media screen and (max-width:943px) {
    #menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;

     }
    #cover-text {
        left: 0px;
    }
    
    #club-ethos {
        width: 90%;
        height: 200px;
        margin: center;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }
    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding: 0 20px 0 20px;
    }

    #photos {
        column-count: 3;
    }
 }

 @media screen and (max-width: 800px) {
     #photos {
         column-count: 2;
     }
 }

 */
 
